.HeaderBackColor {
  background-color: #002e6d;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav-link {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  color: aliceblue;
}
#headerWrapper {
  max-width: 90%;
}

.brand-logo {
  max-width: 30%;
}

.brand-logo > img {
  max-width: 100%;
}
